{% extends "base.html" %}

{% block content %}
<!-- link to events list page -->
<h1 class="jumbotron"><a href="http://localhost:8000/events">Events</a></h1>
<div class="container">
      <div class="row">
        <!-- HERE The test if there is a GET parameter such as year / day / month -->
        <!-- If there is we print only the event on the day choose -->
        {% if request.method == 'GET' and 'year' in request.GET %}
          {% for eve in eventList %}
            {% if eve.date_start|date:'d' == request.GET.day and eve.date_start|date:'m' == request.GET.month and eve.date_start|date:'Y' == request.GET.year%}
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                  <div class="hovereffect">
                      <img src="{{ eve.image.url }}">
                      <div class="overlay">
                          <h2>{{ eve.title }}</h2>
                              <a class="info2">{{ eve.date_start|date:'d M Y - H:m' }}</a>
                              <a href="{{ eve.slug }}" class="info">More Information</a>
                      </div>
                  </div>
              </div>
            {% endif %}
          {% endfor %}
        <!-- If there is no get parameter we print all the event -->
        {% else %}
          {% for eve in eventList %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                <div class="hovereffect">
                    <img src="{{ eve.image.url }}">
                    <div class="overlay">
                        <h2>{{ eve.title }}</h2>
                            <a class="info2">{{ eve.date_start|date:'d M Y - H:m' }}</a>
                            <a href="{{ eve.slug }}" class="info">More Information</a>
                    </div>
                </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-6">
    <!-- Responsive calendar - START -->
        <div class="responsive-calendar">
            <div class="controls">
                <a class="pull-left" data-go="prev"><div class="btn btn-primary">Prev</div></a>
                <h4><span data-head-year></span> <span data-head-month></span></h4>
                <a class="pull-right" data-go="next"><div class="btn btn-primary">Next</div></a>
            </div><hr/>
            <div class="day-headers">
              <div class="day header">Mon</div>
              <div class="day header">Tue</div>
              <div class="day header">Wed</div>
              <div class="day header">Thu</div>
              <div class="day header">Fri</div>
              <div class="day header">Sat</div>
              <div class="day header">Sun</div>
            </div>
            <div class="days" data-group="days">

            </div>
        </div>
    <!-- Responsive calendar - END -->
    </div>

    <!-- try list responsive -->
    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-6">
        <div class="responsive-list">

        </div>
    </div>

</div>


<!-- Scripts -->
<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/responsive-calendar.js"></script>
<!-- credit calendar : http://w3widgets.com/responsive-calendar/#licenseModal -->
<script type="text/javascript">
  $(document).ready(function () {
    $(".responsive-calendar").responsiveCalendar({
      time: '2016-08',
      events: {
        {% for eve in eventList %}
            {% for eve2 in eventList %}
                "{{ eve.date_start|date:'Y-m-d' }}":  {/*"number": 1, */"url": "http://localhost:8000/events/?year={{ eve.date_start|date:'Y' }}&month={{ eve.date_start|date:'m' }}&day={{ eve.date_start|date:'d' }}"},
            {% endfor %}
        {% endfor %}
            "1994-05-25": {}
        }

    });
  });
</script>

<br>
{% endblock %}